<nav class="navbar fixed-top justify-content navbar-expand-lg navbar-light scrolling-navbar" style="background-color: #e3f2fd;">
    <div class="container">
        <!-- Brand -->
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="navbar-brand waves-effect" href="/">
                        <strong class="blue-text"> DigiFlow </strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success " href="{% url 'forum:user-profile' pk=user.pk %}">
                        {{ request.user}}
                    </a>
                </li>

                <li class="nav-item  mx-1">
                    <a class="btn btn-success" href="{% url 'forum:question-create' %}">Poser une question</a>
                </li>
                <li class="nav-item  mx-1">
                    <a class="btn btn-danger float-right" href="{% url 'forum:logout' %}"> Logout</a>
                </li>
                  </ul>

                <div>
                    <form class="form-inline my-2 my-lg-0 ml-5" method="POST" action="{% url 'forum:search-question' %}">
                        {% csrf_token %}
                <input aria-label="Search" class="form-control mr-sm-2" placeholder="Chercher une question"
                       type="search" name="searched">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Go</button>
            </form>
                </div>




            {% else %}
            <div class="row">
                <div class="nav-item"><a class="btn btn-success  mx-2" href="/login"> Login </a></div>
                <div class="nav-item"><a class="btn btn-primary  mx-2" href="/register"> Créer un compte </a></div>
            </div>

            {% endif %}

        </div>
    </div>
</nav>
