<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
      <!-- Brand -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse ml-auto navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">

      {% if user.is_authenticated %}
       <a class="navbar-brand waves-effect" href="/">
        <strong class="blue-text"> Landing </strong>
      </a>
       <button type="button">
              <a href="{% url 'forum:user-profile' pk=user.pk %}">{{ request.user }}</a>
       </button>
                <div class="space"> </div>
      <button type="button">
              <li><a href="/login">  Logout</a></li>
        </button>

      <button type="button">
              <li><a href="{% url 'forum:question-create' %}">  J'ai un question</a></li>
        </button>

      {% else %}
        <li><a href="/login"> Login </a></li>
        <div class="space"> </div>
        <li><a href="/register"> Register </a></li>

    {% endif %}



      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          {% comment %} <li class="nav-item active">
            <a class="nav-link waves-effect" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/checkout">
            Checkout</a>
          </li> {% endcomment %}
        </ul>
      </div>

    </div>
    </div>
  </nav>
