{% extends "site/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row m-5">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div>
                    {% csrf_token %}

                {% crispy form %}
                    <button type="submit" class="btn btn-success" id="login">Se connecter</button>
                    <a href="{% url 'forum:register' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">S'inscrire</a>
                        </div>
                    </form>


            </div>


        </div>
    </div>
</div>


{% endblock content %}
{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>


{% include 'user_form_ajax.js' %}



</script>
{% endblock %}
